.dashboard-container {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}

.container {
  /* background-color: black; */
  width: 90%;
}

/* body {
  background-color: black !important;
} */

.metrics-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
}

.projects-box {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: 20px;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
}

.title-item {
  font-size: 60px;
}
.dummy-button {
  background-color: royalblue;
  color: white;
}

.dummy {
  width: 300px;
  height: 100px;
  background-color: #0866ff;
  color: white;
}

.projects-box {
  cursor: pointer;
}
